/* сброс стилей браузера по умолчанию*/
*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mainBlock{
  margin: 0 auto;
  width: 100%;
  /*min-width: 400px;*/
   /*max-width: 960px; */
  padding: 0 15px;
  height: 100vh;
  background-color: #665468;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: white;
}



.formBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  color: #2D2E46;
  min-width: 200px;
  width: 350px;
  height: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.titleFormBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBlockInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footerBlock {
  width: 100%;
  text-align: center;
  height: 5%;
  font-size:10px;
  color: gray;
}
.footerFormBlock p {
  color: gray;
  font-size: 16px;
  margin: 10px 0px;
}

.footerFormBlock a {
  color: gray;
  text-decoration: none;
}

.footerFormBlock a:hover {
  color:#21268F;
}

.formBlockInput p {
  margin: 10px;
  font-size: 16px;
  color: gray;
}

.checkbox {
  margin-left: 20px;
  font-size: 14px;
}

.defaultButton {
  background-color: #21268F;
  border: none;
  color: #ECECF9;
  padding: 8px 63px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: 0;
}

.defaultInput {
  border: none;
  border-bottom: 1px solid darkseagreen;
  /* border-radius: 5px; */
  /* border: none; */
  /* box-shadow: 0 0 11px darkseagreen; */
  margin: 10px 20px;
  padding: 5px;
  box-sizing: border-box;
  outline: 0;
}

.labelInput {
  margin-left: 15px;
  font-size: 16px;
}

button:hover {
  background-color: rgba(48, 9, 222, 0.6);

}


.preloader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 50px;
  rotation: revert;
}

.error {
  color: red;
  font-size: small;
}

.checkEmail {
  width: 70px;
}

.logo {

}

@media screen and (max-width: 576px){
  .mainBlock {
    font-size: 14px;
  }
}




