.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.image {

    margin: 20px 0 10px;
}

.errorText {
    font-size: 28px;
    color: #30363c;
    padding: 10px;
}

.back {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;

}